{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>配信ページ:Desktop Streaming</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.js"></script>
        <script src="{% static 'desktop_streaming/js/common.js' %}"></script>
        <script src="{% static 'desktop_streaming/js/organizer.js' %}"></script>
    </head>
    <body>
        this is the organizer's page
        <video id="desktop" autoplay></video>
        <button id="share_desktop" class="button is-link" type="button">画面を共有</button>
    </body>
</html>